.Contacts {
  background: var(--component-theme-bg);
  border: var(--component-theme-bg-border);
  border-radius: 1.15rem;
  margin: 4rem 0;
  padding: 4rem 7.5%;
  box-shadow: var(--component-theme-bg-shadow-dark), var(--component-theme-bg-shadow-light), var(--component-theme-bg-shadow-light-accent);
}

.Contacts .main {
  display: flex;
  align-items: center;
}

.Contacts .outro {
  text-align: left;
  max-width: 60%;
  padding-right: 1rem;
}

.Contacts .links {
  margin-top: 2rem;
  flex: 1 0 40%;
}

.Contacts span {
  padding: 0.5rem 1rem;
}
.Contacts span + span {
  text-align: center;
  border-left: solid 0.5px grey;
}
