.Contacts {
  margin-bottom: 2.5rem;
}

.Contacts .main {
  display: flex;
  align-items: center;
}

.Contacts .outro {
  text-align: left;
  max-width: 60%;
}

.Contacts .links {
  margin: 2rem;
  flex: 1 0 40%;
}

.Contacts span {
  padding: 0.5rem 1rem;
}
.Contacts span + span {
  text-align: center;
  border-left: solid 0.5px grey;
}
