.Header {
  background: linear-gradient(var(--layout-bg-color-tertiary) 10%, var(--layout-bg-color-primary) 74%, var(--layout-bg-color-secondary));
  backdrop-filter: blur(0.27rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 7.25%;
  width: 100%;
  z-index: 1;
}
