.Header {
  background: var(--header-theme-bg);
  backdrop-filter: var(--header-theme-bg-blur);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: var(--header-layout-height);
  width: 100%;
  z-index: 1;
}
