.nav-item {
  position: relative;
  height: 100%;
  width: 100%;
}

.nav-item button {
  background-color: transparent;
  border-radius: 0.25rem;
  border: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 400ms;
}

.nav-item button:focus {
  outline-style: none;
}

.nav-item:hover > button,
.nav-item button:focus {
  background: var(--theme-nav-hover-bg);
  color: var(--theme-nav-hover-text);
  box-shadow: var(--theme-nav-hover-box-shadow);
  text-shadow: 0 0 1.75rem var(--theme-nav-hover-text);
}

/* TODO - adjust accent origin to center? */
.nav-accent {
  position: absolute;
  bottom: 0.35rem;
  left: 0;
  background-color: var(--theme-nav-hover-accent-color);
  border-radius: 75%;
  height: 1.5px;
  width: 0;
  margin-left: calc((100% - var(--theme-nav-hover-accent-width)) / 2);
  cursor: pointer;
  transition: 400ms;
}

.nav-item:hover > .nav-accent,
.nav-item button:focus + .nav-accent {
  width: var(--theme-nav-hover-accent-width);
}
