.NavBar {
  height: 86%;
  width: 42%;
}

.NavBar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  padding-right: var(--header-padding-x);
  height: 100%;
}
