.nav-item {
  position: relative;
  height: 100%;
  width: 100%;
}

.nav-accent {
  background-color: var(--nav-hover-accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0%;
  transition: 400ms;
}

.selected > .nav-accent,
.nav-item:hover > .nav-accent,
.nav-item button:focus + .nav-accent {
  width: 98%;
}

.nav-item button {
  background-color: #00000000;
  border-radius: 0.25rem;
  border: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 400ms;
}

.nav-item button:focus {
  outline-style: none;
}

.nav-item button:hover {
  background-color: var(--nav-hover-bg-color);
  color: var(--nav-hover-text-color);
  box-shadow: 0 0 1.5rem var(--nav-hover-bg-color);
  text-shadow: 0 0 1.5rem var(--nav-hover-text-color);
}
