.Footer {
  background: linear-gradient(var(--layout-bg-color-secondary), var(--layout-bg-color-primary) 74%);
  color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  min-height: 7rem;
  width: 100%;
}
