.Footer {
  background: linear-gradient(var(--base-bg-color-secondary), var(--base-bg-color-primary) 74%, var(--base-bg-color-tertiary));
  color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 7rem;
  width: 100%;
}
