.ProjectCard {
  background: var(--bg-gradient);
  border: var(--bg-border);
  border-radius: 0.75rem;
  margin: 1.5rem 0;
  padding: 3.25rem;
  padding-left: var(--project-card-padding);
  box-shadow: var(--bg-shadow-dark), 0.1rem -0.1rem 0.3rem #212a3a, var(--bg-shadow-light-accent);
}

.ProjectCard .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.ProjectCard section.screenshots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--project-card-padding);
  width: 30%;
}

.ProjectCard .screenshots img {
  border: 1px dashed grey;
  width: 100%;
  max-width: 100%;
}

.ProjectCard section.info {
  display: flex;
  flex-direction: column;
  padding-left: var(--project-card-padding);
  width: 70%;
}

.ProjectCard .description {
  text-align: left;
}

.ProjectCard h2 {
  margin-top: 0;
}

.ProjectCard span {
  padding: 0.4rem 0.65rem;
  text-align: center;
}
.ProjectCard span + span {
  border-left: solid 0.8px #06060686;
}
