.ProjectCard {
  background-color: #ffffff10;
  border-radius: 0.75rem;
  margin: 1.5rem 0;
  padding: 1rem;
}

.ProjectCard .content {
  background-color: #ffffff10;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

section.screenshots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--project-card-padding);
  width: 30%;
}

.screenshots img {
  border: 1px dashed grey;
  width: 100%;
  max-width: 100%;
}

section.info {
  display: flex;
  flex-direction: column;
  padding: var(--project-card-padding);
  width: 70%;
}

.description {
  text-align: left;
}

.ProjectCard h2 {
  margin-top: 0;
}
