.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin: 4rem 0;
  padding: 2.75rem 0.5rem;
  padding-top: 4rem;

  background: var(--theme-component-bg);
  border-radius: 1.15rem;
  border: var(--theme-component-bg-border);
  box-shadow: -0.5rem 0.5rem 1rem #181719 inset,
    0.5rem -0.5rem 1rem #212a3a inset, var(--theme-component-bg-shadow-light-accent);
}
