.About {
  background: var(--component-theme-bg);
  border: var(--component-theme-bg-border);
  border-radius: 1.15rem;
  margin: 4rem 0;
  padding: 4rem 10%;
  box-shadow: var(--component-theme-bg-shadow-dark), var(--component-theme-bg-shadow-light), var(--component-theme-bg-shadow-light-accent);
}

.page-header {
  margin-top: 0;
}

.bio {
  text-align: left;
}

.bio-image {
  text-align: center;
  float: left;
  margin: 0;
  margin-right: 1.25rem;
}
