:root {
  --layout-bg-color-primary: #121212B4;
  --layout-bg-color-secondary: #0c081a6a;
  --nav-hover-bg-color: #00000038;
  --nav-hover-text-color: #969696;
  --nav-hover-accent-color: #9617eb;
  --banner-heading-size: x-large;
  --header-padding-x: 2rem;
  --header-padding-y: 1.5rem;
  --header-padding: var(--header-padding-y) var(--header-padding-x);
  --header-padding-x-offset: calc(2 * var(--header-padding-x));
  --project-card-padding: 1.25rem;
}

#root {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Landing {
  display: flex;
  flex: 1 0 100vh;
  align-items: center;
  justify-content: center;
}

.Landing p {
  font-weight: bold;
}

.Header {
  background: linear-gradient(var(--layout-bg-color-secondary), var(--layout-bg-color-primary) 74%, var(--layout-bg-color-secondary));
  backdrop-filter: blur(0.27rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.NavBar ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  padding-right: var(--header-padding-x);
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 80%;
}

.About {
  text-align: left;
}

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.Footer {
  background: linear-gradient(var(--layout-bg-color-secondary), var(--layout-bg-color-primary) 74%, var(--layout-bg-color-secondary));
  color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  min-height: 7rem;
  width: 100%;
}

.logo {
  margin: 0;
  padding: var(--header-padding);
  font-size: var(--banner-heading-size);
}

.logo {
  padding: 1.25rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media screen and (max-width: 600px) {
  .App {
    flex: 1 1 100px;
  }

  .ProjectCard {
    flex-direction: column;
  }
  .vr {
    display: none;
  }
}
