:root {
  --layout-bg-color: #121212A7;
  --banner-heading-size: x-large;
  --header-padding-x: 2rem;
  --header-padding-y: 1.5rem;
  --header-padding: var(--header-padding-y) var(--header-padding-x);
  --header-padding-x-offset: calc(2 * var(--header-padding-x));
  --max-content-width: 1280px;
}

#root {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Landing {
  display: flex;
  flex: 1 0 100%;
  align-items: center;
  justify-content: center;
}

.Landing p {
  font-weight: bold;
}

.Header {
  background-color: var(--layout-bg-color);
  backdrop-filter: blur(0.27rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.NavBar ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  padding-right: var(--header-padding-x);
  list-style-type: none;
}

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  max-width: var(--max-content-width);
}

.Footer {
  background-color: var(--layout-bg-color);
  color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 7rem;
  width: 100%;
}

.logo {
  margin: 0;
  padding: var(--header-padding);
  font-size: var(--banner-heading-size);
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media screen and (max-width: 600px) {
  .App {
    flex: 1 1 100px;
  }
}
