:root {
  --banner-heading-size: x-large;
  --header-padding: 1.5rem 2rem;
  --root-padding: 0rem;
  --root-max-width: 1280px;
}

#root {
  text-align: center;
  margin: 0 auto;
  padding: var(--root-padding);
  width: 100%;
  min-height: calc(100vh - 2 * var(--root-padding));
  max-width: var(--root-max-width);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Footer {
  color: #888;
  padding: 2.5rem 1rem;
}

.NavBar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: var(--header-padding);
}

.logo {
  margin: 0;
  padding: var(--header-padding);
  font-size: var(--banner-heading-size);
}


hgroup p {
  font-weight: bold;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
