:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: whitesmoke;
  background-color: #171b20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-bg-color-primary: #121212b4;
  --base-bg-color-secondary: #0c081a6a;
  --base-bg-color-tertiary: #060606;

  --component-theme-bg: linear-gradient(225deg, #212a3a, #171a1f);
  --component-theme-bg-shadow-light: 0.6rem -0.6rem 1.2rem #212a3a;
  --component-theme-bg-shadow-light-accent: -0.15rem 0.15rem 0.4rem #283347 inset;
  --component-theme-bg-shadow-dark: -0.6rem 0.6rem 1.5rem #111010;
  --component-theme-bg-border: 1.5px ridge transparent;

  --nav-hover-bg-color: linear-gradient(225deg, #212a3a9e, #171b309e);
  --nav-hover-bg-shadow-color: #00000038;
  --nav-hover-text-color: #969696;
  --nav-hover-accent-color: #9617eb80;
  --nav-hover-accent-width: 96%;
  --nav-hover-box-shadow: -0.15rem 0.15rem 0.3rem #283347b8 inset,
    0.15rem -0.15rem 0.3rem #111010b8 inset, -0.15rem 0.15rem 0.3rem #111010b8;

  --header-theme-bg: linear-gradient(
    var(--base-bg-color-tertiary) 10%,
    var(--base-bg-color-primary) 74%,
    var(--base-bg-color-secondary)
  );
  --header-theme-bg-blur: blur(0.27rem);
  --header-layout-height: 7.25%;

  --footer-theme-bg: linear-gradient(
    var(--base-bg-color-secondary),
    var(--base-bg-color-primary) 74%,
    var(--base-bg-color-tertiary)
  );
  --footer-theme-color: #888;

  --banner-heading-size: x-large;
  --header-padding-x: 2rem;
  --header-padding-y: 1.5rem;
  --header-padding: var(--header-padding-y) var(--header-padding-x);
  --header-padding-x-offset: calc(2 * var(--header-padding-x));

  --project-card-padding: 1.25rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
